---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/171705?apikey=SA5lAHPDxgRTHoGxdUEA0vOx0SrGyEPu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '45'
      Akamai-Grn:
      - 0.8e2a0660.1665081134.d82eb1b
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-10-06T22:13:00+04:00","EpochTime":1665079980,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":21.1,"Unit":"C","UnitType":17},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ge/tbilisi/171705/current-weather/171705?lang=en-us","Link":"http://www.accuweather.com/en/ge/tbilisi/171705/current-weather/171705?lang=en-us"}]'
  recorded_at: Thu, 06 Oct 2022 18:32:14 GMT
recorded_with: VCR 6.1.0
