---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/171705/historical/24?apikey=SA5lAHPDxgRTHoGxdUEA0vOx0SrGyEPu
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '44'
      Akamai-Grn:
      - 0.59deda17.1665081645.17afc996
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-10-06T21:57:00+04:00","EpochTime":1665079020,"WeatherText":"Mostly
        cloudy","WeatherIcon":38,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":21.1,"Unit":"C","UnitType":17},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ge/tbilisi/171705/current-weather/171705?lang=en-us","Link":"http://www.accuweather.com/en/ge/tbilisi/171705/current-weather/171705?lang=en-us"},{"LocalObservationDateTime":"2022-10-06T20:58:00+04:00","EpochTime":1665075480,"WeatherText":"Partly
        cloudy","WeatherIcon":35,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":21.1,"Unit":"C","UnitType":17},"Imperial":{"Value":70.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ge/tbilisi/171705/current-weather/171705?lang=en-us",[...]
